<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../partials/head');%>
</head>

<!-- 버튼 간격 스타일-->
<style>
  .edit-button{
    float: right;
    margin: -15px;
  }
</style>

<body>
  <!-- NAVBAR ======================================== -->
  <%- include('../partials/navbar');%>
    <!-- WRAPPER ===================================== -->
    <div class="wrapper">
      <!-- SIDEBAR =================================== -->
      <%- include('../partials/sidebar');%>
        <!-- MAIN CONTENT ========================================= -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">

              <h3 class="page-header">
                국가 코드
              </h3>

            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-xs-12">
              <!-- Lists -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Code Lists</h3>
                  <div class="edit-button">
                    <button type="button" , class="btn btn-link", onclick="location.href='/countrycode_reg'" ;>등록</button>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table" id="datatable_8" data-toggle="datatable">
                      <thead>
                        <tr>
                          <th>번호</th>
                          <th>이름</th>
                          <th>코드명</th>
                          <th>등록일</th>
                          <th>수정</th>
                          <th>삭제</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%
                        if(countryCode.length!=0){
                          var i=1;
                          countryCode.forEach(function(data){
                        %>
                        <tr>
                          <td><%=i%></td>
                          <td><%=data.name%></td>
                          <td><%=data.code%></td>
                          <td><%=data.reg_date%></td>
                          <td>
                            <form>
                              <button type="button" class="btn btn-success" onclick="location.href='/countrycode_edit?id=<%=data.code_idx%>'">수정</button>
                            </form>
                          </td>
                          <td>
                            <form action="/countrycode/<%=data.code_idx%>?_method=DELETE" method="post">
                              <input type="submit" class="btn btn-danger" value="삭제" onclick="return confirm('삭제 하시겠습니까?')"></input>
                            </form>
                          </td>
                        </tr>
                        <% i++; }) %>
                        <% } else{ %>
                          <tr>
                            <td colspan="6">데이터가 없습니다.</td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div> <!-- / .panel -->
            </div>
          </div>
        </div> <!-- / .container-fluid -->
    </div> <!-- / .wrapper -->
</body>

</html>