<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../partials/head');%>

  <script>
    /*=== 체크박스 관련 스크립트 ===*/
    var check = false;
    function CheckAll(){
      var chk = document.getElementsByName("chk_unit[]");
      if(check == false){
        check = true;
        for(var i=0; i<chk.length;i++){
          chk[i].checked = true; //모두 체크
        }
      }else{
        check = false;
        for(var i=0; i<chk.length;i++){ 
          chk[i].checked = false; //모두 해제
        }
      }
    }

    // 선택된 체크박스 번호 반환 함수
    function selectRow() {
      var chk = document.getElementsByName("chk_unit[]"); // 체크 박스객체
      var len = chk.length; //체크박스의 전체 개수
      var checkRow = '';    //체크된 체크박스의 value를 담기위한 변수
      var checkCnt = 0;     //체크된 체크박스의 개수
      var checkLast = '';   //체크된 체크박스 중 마지막 체크박스의 인덱스를 담기위한 변수
      var rowid = '';       //체크된 체크박스의 모든 value의 값
      var cnt = 0;

      for(var i=0; i<len; i++){
        if(chk[i].checked == true){
          checkCnt++;       //체크된 체크박스의 개수
          checkLast = i;    //체크된 체크박스의 인덱스
        }
      }

      for(var i=0; i<len; i++){
        if(chk[i].checked == true){ //체크가 되어있는 값 구분
          checkRow = chk[i].value;

          if(checkCnt == 1){                  //체크된 체크박스의 개수가 한 개 일때,
            rowid += "'"+checkRow+"'";        //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
          }else{                              //체크된 체크박스의 개수가 여러 개 일때,
            if(i == checkLast){               //체크된 체크박스 중 마지막 체크박스일 때,
              rowid += "'"+checkRow+"'";      //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
            }else{
              rowid += "'"+checkRow+"',";     //'value',의 형태 (뒤에 ,(콤마)가 붙게)
            }
          }
          cnt++;
          checkRow = '';    //checkRow 초기화
        }
        console.log(rowid);        //'value1', 'value2', 'value3' 의 형태로 출력
      }
    }
  </script>
</head>

<!-- 버튼 간격 스타일-->
<style>
  .edit-button{
    float: right;
    margin: -15px;
  }
</style>

<body>
  <!-- NAVBAR ======================================== -->
  <%- include('../partials/navbar');%>
    <!-- WRAPPER ===================================== -->
    <div class="wrapper">
      <!-- SIDEBAR =================================== -->
      <%- include('../partials/sidebar');%>
        <!-- MAIN CONTENT ========================================= -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="page-header">
                Lists
              </h3>
            </div>
          </div> <!-- / .row -->

          <div class="row">
            <div class="col-xs-12">
              <!-- Lists -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Lists</h3>
                  <div class="edit-button">
                    <button type="button" , class="btn btn-link", onclick="location.href=#" ;>등록</button>
                    <button type="button" , class="btn btn-link", id="user_delete", onclick="javascript:selectRow()">삭제</button>
                    <button type="button" , class="btn btn-link", id="pass_rest">초기화</button>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table" id="datatable_8" data-toggle="datatable">
                      <thead>
                        <tr>
                          <th><input type="checkbox" name="checkall" onclick="javascript:CheckAll()"></th>
                          <th>번호</th>
                          <th>제목</th>
                          <th>내용</th>
                          <th>작성자</th>
                          <th>날짜</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%
                        if(dataList.length!=0){
                          var i=1;
                          dataList.forEach(function(data){
                        %>
                        <tr>
                          <td><input type="checkbox" name="chk_unit[]" id="chk_no" value="<%=data.boardno%>" /></td>
                          <td><%=data.boardno%></td>
                          <td><%=data.title%></td>
                          <td><%=data.content%></td>
                          <td><%=data.writer%></td>
                          <td><%=data.timestr%></td>
                        </tr>
                        <% i++; }) %>
                        <% } else{ %>
                        <tr>
                          <td colspan="5">데이터가 없습니다.</td>
                        </tr>
                      <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div> <!-- / .panel -->
            </div>
          </div>
        </div> <!-- / .container-fluid -->
    </div> <!-- / .wrapper -->
</body>

</html>